.form-header {
    color: #4c5d6e;
    text-align: center;
}

.shorten-url {
    border: 2px solid #bbbbbb;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    padding: 5px;
}

.shortened-link {
    padding-top: 20px;
}

a {
    color: #1EBC30;
    text-decoration: none;
}

a:hover {
    color: #1EBC30;
    text-decoration: underline;
}